<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Add Item</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <h1>Add Item</h1>
      <%- include("partials/errors", {errors: locals.errors}) %>
      <div class="content">
        <form action="/items/new" method="POST" class="add-item">
          <label>
            Title:
            <input type="text" name="title" />
          </label>
          <label>
            Category:
            <select name="categoryID">
              <% categories.forEach((category) => { %>
              <option value="<%= category.category_id %>">
                <%= category.title %>
              </option>
              <% }); %>
            </select>
          </label>
          <div class="buttons-container">
            <%- include("partials/goBackButton") %>
            <button type="submit" class="submit" title="submit"></button>
          </div>  
        </form>
      </div>
    </main>
  </body>
</html>
