<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <h1>All Categories</h1>
      <% categories.forEach((category) => { %>
      <div>
        <h3><%= category.name %></h3>
        <a href=<%= `/categories/${category.id}/update` %>>Update</a>
        <form action=<%= `/categories/${category.id}?_method=DELETE` %> method="POST">
          <button type="submit">Delete</button>
        </form>
        <a href=<%= `/categories/${category.id}` %>>Show Items</a>
      </div>
      <% }); %>
      <button><a href="/categories/new">Add new category</a></button>
    </main>
  </body>
</html>
