<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Items</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <header>
        <h1>All Items</h1>
        <form action="/items/new" method="GET">
          <button type="submit" class="add" title="add new item"></button>
        </form>
      </header>
      <div class="content">
        <% items.forEach((item) => { %>
          <div class="card">
            <h3><%= item.item_title %></h3>
            <p>category: <%= item.category_title %></p>
            <% if(item.brand) { %>
              <p>brand: <%= item.brand %></p>
            <% } %>
            <% if(item.stock_wheels) { %>
              <p>stock wheels: <%= item.stock_wheels %></p>
            <% } %>
            <div class="buttons-container">
              <form action=<%= `/items/${item.item_id}/update` %> method="GET">
                <button type="submit" class="update" title="update"></button>
              </form>
              <form action=<%= `/items/${item.item_id}?_method=DELETE` %> method="POST">
                <button type="submit" class="delete" title="delete"></button>
              </form>
            </div>
          </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
