<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Update Item</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <h1>Update Item</h1>
      <%- include("partials/errors", {errors: locals.errors}) %>
      <div class="content">
        <form action=<%= `/items/${item.id}/update?_method=PUT` %> method="POST" class="update-item">
          <label> 
            Title:
            <input type="text" value="<%= item.title %>" name="title"/>
          </label>
          <label>
            Category:
            <select name="categoryID">
              <% categories.forEach((category) => { %>
                <% const isSelected = item.category_id === category.id; %>
                <option 
                  value="<%= category.id %>" 
                  <%- isSelected ? "selected" : "" %>
                >
                  <%= category.title %>
                </option>
              <% }); %>
            </select>
          </label>
          <label>
            What brand is this item?
            <select name="brandID" >
              <option value>n/a</option>
              <% brands.forEach((brand) => { %>
                <% const isSelected = item.brand_id === brand.id; %>
                <option 
                  value="<%= brand.id %>"
                  <%- isSelected ? "selected" : "" %>
                >
                  <%= brand.title %>
                </option>
              <% }); %>
            </select>
          </label>
          <label>
            What stock wheels does it come with?
            <select name="wheelsID">
              <option value>n/a</option>
              <% wheels.forEach((wheel) => { %>
                <% const isSelected = item.stock_wheels_id === wheel.id; %>
                <option 
                  value="<%= wheel.id %>"
                  <%- isSelected ? "selected" : "" %>
                >
                  <%= wheel.title %>
                </option>
              <% }); %>
            </select>
          </label>
          <div class="buttons-container">
            <%- include("partials/goBackButton") %>
            <button type="submit" class="submit" title="submit"></button>
          </div> 
        </form>
      </div>
    </main>
    <%- include("partials/disableInputsScript") %>
  </body>
</html>
