<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Update Category</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <h1>Update Category</h1>
      <%- include("partials/errors", {errors: locals.errors}) %>
      <div class="content">
        <form action=<%= `/categories/${category.id}/update?_method=PUT` %> method="POST">
          <label> 
            Title:
            <input type="text" value="<%= category.title %>" name="title"/>
          </label>
          <%- include("partials/goBackButton") %>
          <button type="submit" class="submit" title="submit"></button>
        </form>
      </div>
    </main>
  </body>
</html>
