<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Update Item</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <h1>Update Item</h1>
      <%- include("partials/errors", {errors: locals.errors}) %>
      <div class="content">
        <form action=<%= `/items/${item.item_id}/update?_method=PUT` %> method="POST">
          <label> 
            Title:
            <input type="text" value="<%= item.title %>" name="title"/>
          </label>
          <label>
            Category:
            <select name="categoryID">
              <% categories.forEach((category) => { %>
              <% const isSelected = item.category_id === category.id; %>
              <option 
                value="<%= category.id %>" 
                <%- isSelected ? "selected" : "" %>
              >
                <%= category.title %>
              </option>
              <% }); %>
            </select>
          </label>
          <%- include("partials/goBackButton") %>
          <button type="submit" class="submit" title="submit"></button>
        </form>
      </div>
    </main>
  </body>
</html>
