<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Category</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <h1>Update Category</h1>
      <% if (locals.errors) { errors.forEach((error) => {%>
        <p><strong><%= error.msg %></strong></p>
      <% })}; %>
      <form action=<%= `/categories/${category.category_id}/update?_method=PUT` %> method="POST">
        <label> 
          Title:
          <input type="text" value="<%= category.title %>" name="title"/>
        </label>
        <%- include("partials/goBackButton") %>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
