<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Item</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <h1>Update Item</h1>
      <%- include("partials/errors", {errors: locals.errors}) %>
      <form action=<%= `/items/${item.item_id}/update?_method=PUT` %> method="POST">
        <label> 
          Title:
          <input type="text" value="<%= item.title %>" name="title"/>
        </label>
        <label>
          Category:
          <select name="categoryID">
            <% categories.forEach((category) => { %>
            <% const isSelected = item.category_id === category.category_id; %>
            <option 
              value="<%= category.category_id %>" 
              <%- isSelected ? "selected" : "" %>
            >
              <%= category.title %>
            </option>
            <% }); %>
          </select>
        </label>
        <%- include("partials/goBackButton") %>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
